body {
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
    color: #444941;
}

h1 {
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #7FC8A9;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #7FC8A9;
    line-height: 2;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #444941;
}

a{
    color: #444941;
    text-decoration: none;
}

a:hover{
    color:#7FC8A9;
}

img {
    width: 15%;
}

hr {
    border-color: #5F7A61;
    border-style: dotted none none;
    width: 5%;
    border-width: 5px;
    margin: 100px auto 100px auto;
}

.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #D5EEBB;
}

.middle-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.bottom-container{
    background-color: #5F7A61;
    padding-top: 50px;
    padding-bottom: 50px;
}

.software{
    text-decoration: underline;
}

.top-cloud{
    position:absolute;
    right:300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.software-engineer{
    font-weight: normal;
    color: #7FC8A9;
    font-size: 2rem;
}

.skills{
    margin-bottom: 50px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-img-code{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-img-varia{
    width: 25%;
    float: right;
    margin-left: 30px;
    color: #7FC8A9;
}

.copyright{
    color: #444941;
}

.BUTTON_CHX {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #7FC8A9;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 50;
    padding: 20px;
    background-color: #D5EEBB;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_CHX:hover {
    border: solid #5F7A61 1px;
    background: #5F7A61;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }